/* Mod for Full-Width Widget with DIID-CTA-BANNER class to make less dominating and give greater visual affordance */

.h-tile.diid-cta-banner {
    max-width: 1200px;
}

.diid-cta-banner .h-tile__item {
    height: 15em;
}

.diid-cta-banner .h-tile__img {
    min-height: 100%;
    width: 100%;
}

.diid-cta-banner .h-tile__title {
    flex-direction: column; /* Changing the flex direction so I can stack the two SPANs I've squeezed into the A element */
}

.diid-cta-banner .h-tile__title {
    padding: 0rem;
    margin-left: -5px;
    margin-top: -9px;
    text-transform: uppercase;
    text-align: left;
}

.diid-cta-banner .h-tile__linktext {
    text-transform: uppercase;
    font-size: calc(4vw + 4vh + 2vmin) !important;
    line-height: 0.9;
    text-align: left;
    position: absolute;
    top: 0;
    margin-left: -5px;
    padding-right: 10%;
    left: 0;
    font-weight: 900 !important;
}

@media screen and (max-width: 450px) {
.diid-cta-banner .h-tile__linktext {
    margin-left: 1px !important;
    margin-top: 4px !important;
}
}

@media screen and (min-width: 1100px) {
  .diid-cta-banner .h-tile__linktext {
     font-size: 70px !important;
  }
}

@media screen and (max-width: 450px) {
  .diid-cta-banner .h-tile__linktext {
     font-size: 40px !important;
  }
}

.h-tile__item:not(.has-placeholder) .h-tile__title {
    background-color: rgba(0,0,0,.5);
}

.h-tile__item:not(.has-placeholder) .h-tile__title:focus, .h-tile__item:not(.has-placeholder) .h-tile__title:hover {
    background-color: rgba(0,0,0,.3);
}

/* BTN styles */

.h-tile.diid-cta-banner .btn {
    font-family: Plex Sans,Helvetica,Verdana,Segoe,sans-serif;
    font-weight: 600;
}

.diid-cta-banner .btn.h-tile__cta {
    display: block;
    margin: 1em auto;
    background: #8ED6D1;
    border-color: #8ED6D1;
    color: #131313;
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    right: 0;
}

.diid-cta-banner a:hover .btn.h-tile__cta {
    background: #c0ffff;
}

.diid-cta-banner .btn.h-tile__cta::after {
    content: "\000BB";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: none;
    background-size: contain;
    vertical-align: middle;
    opacity: .8;
    margin: -.3rem 0 -.1rem .5rem;
}

/* Styles for Do It In Durham logo */

.diid-logo-svg {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 30px;
}
