/* Homepage: Add View Galleries CTA */

.LibrisPortfolioCover::after {
    content: 'VIEW GALLERIES »';
    position: absolute;
    bottom: 40%;
    left: 50%;
    margin-left: -7.5em;
    padding: .5em 1em;
    border-radius: 10px;
    background: #c13a05;
    color: white;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 8px;
    text-align: center;
}

@media (max-width: 692px) {
    .LibrisPortfolioCover::after {
        bottom: 75%;
        font-size: 1.75em;
        letter-spacing: 5px;
    }
}

.LibrisPortfolioCover:hover::after {
    color: #e6e6e6;
}



/* Homepage: Add Photo Credit */

.LibrisPortfolioCover + .footer-wrapper footer {
    position: relative;
}

.LibrisPortfolioCover + .footer-wrapper footer::before {
    content: 'Photo by Estlin Haiss/Discover Durham';
    position: absolute;
    bottom: 100%;
    padding: 1em 1.5em 1em 1em;
    background: black;
    color: white;
    font-size: 1.15em;
    opacity: .8;
}

@media (max-width: 692px) {
    LibrisPortfolioCover + .footer-wrapper footer::before {
        font-size: .85em;
    }
}



/* Galleries: Restyle Download Button for Usability */

/* ps-download#download {
    flex-basis: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

ps-download#download button {
    border: 3px solid #333;
    border-radius: 3px;
    height: 40px;
    padding: 0 7px;
    transition: border .3s ease-in-out, color .3s ease-in-out;
} */

ps-download#download button:hover {
    border-color: #c0c0c0;
}

ps-download#download button iron-icon::after {
    content: 'DOWNLOAD';
    font-weight:bold
}

/* ps-download#download:focus button iron-icon::after,
ps-download#download button:focus iron-icon::after,
ps-download#download button iron-icon:focus::after,
ps-download#download button iron-icon::after:focus,
ps-download#download:focus-within button iron-icon::after,
ps-download#download button:focus-within iron-icon::after,
ps-download#download button iron-icon:focus-within::after,
ps-download#download button iron-icon::after:focus-within {
    outline: 0 !important;
}

ps-download#download iron-icon {
    width: auto;
}

 ps-download#download svg {
    max-width: 24px;
    margin-right: .5em;
} */
